repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff-check
        args: ["wtesolver", "test"]
      - id: ruff-format
        args: ["wtesolver", "test"]
